.radio-container {
  display: flex;
  gap: 1rem;
}

.radio-option {
  display: flex;
  align-items: center;
}

.radio-container input[type='radio'] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  align-items: center;
}
