.upload-container {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dragNdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  border: 1px dashed gray;
  border-radius: 0.5rem;
  margin: 0 2rem;
  padding: 2.5rem 0;
  height: 100%;
  width: 100%;
}

#upload-manifest {
  height: 2.5rem;
  width: 15rem;
  display: grid;
  place-content: center;
  margin: 1rem 0;
}
