.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  border: 1px solid #dbdbdb;
  border-radius: 1.5rem;
  padding: 2.5rem 6rem;
  max-height: 80%;
  overflow-y: auto;
  display: grid;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.close-button {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
}

.close-button button {
  background: #1c3e6e;
  border: none;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-content: center;
}

.close-button button:hover {
  background-color: #0f1f3a;
}

.divider {
  width: 281px;
  border-bottom: 1px solid darkgray;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

#column1 {
  grid-column: span 3;
  padding-right: 5rem;
  padding-top: 1rem;
}

#column2 {
  grid-column: span 2;
}

.bold {
  font-weight: bold;
}

.submit-button {
  padding: 0.75rem;
  border-radius: 0.5rem;
  width: 17rem;
  margin: 0 1rem;
}

.radio-container {
  text-align: left;
}

.continue {
  background: #1c3e6e;
  border: 2px solid #1c3e6e;
  color: white;
  transition: background-color 0.3s, border-color 0.3s;
  margin: 0 1rem;
}

.continue:hover {
  background-color: #0f1f3a;
  border-color: #0f1f3a;
}

#cancel {
  background: white;
  border: 2px solid orange;
  color: orange;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

#cancel:hover {
  background-color: sandybrown;
  color: white;
}

.import-text {
  display: flex;
  gap: 3px;
  justify-content: center;
}

.import-text p {
  font-size: medium;
}

h1 {
  font-size: xx-large;
  justify-self: center;
  width: 281px;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid darkgray;
}

p {
  display: flex;
}

@media screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
    justify-self: center;
  }
  .modal {
    padding: 2rem 0;
  }
  #column1 {
    padding-right: 0;
  }
  .import-text {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .import-text p {
    height: 0;
  }
}
