.toggle-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 19px;
  width: 19px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1c3e6e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1c3e6e;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.clock {
  width: 1.5rem;
  transform: rotate(-90deg);
  margin-right: 0.5rem;
}

.toggle {
  border-right: 1px solid black;
  padding: 0.25rem 1rem;
  margin-right: 0.75rem;
  width: 5.5rem;
}
