.App {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.button {
  background-color: #1c3e6e;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0f1f3a;
}

.dynamic {
  color: mediumseagreen;
  font-weight: bold;
}

.overflow-hidden {
  overflow: hidden;
}

button {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  cursor: pointer;
}

span {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

* {
  color: #1c3e6e;
  font-family: 'Raleway';
  font-size: small;
}
